.headerSection {
  background-image: url("assets/images/background-pattern-desktop.svg");
  background-color: aquamarine;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

.faqSection {
  margin: auto;
  justify-content: center;
  width: 50%;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  background-color: #fff;
  top: 10rem;
  left: 25rem;
}

.faqHeader {
  flex-flow: row wrap;
  display: inherit;
}

.faqQuestion {
  display: flex;
  justify-content: space-between;
}

.faqContainerCollapsed {
  max-height: 5rem;
  overflow: hidden;
}

button {
  max-height: 3rem;
  border-radius: 2rem;
  border: transparent;
  background: transparent;
}

.starIcon {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.bodySection {
  background-color: #ffdfffad;
  height: 100vh;
}
