.heroSection {
  background-image: url("./assets/images/pattern-bg-desktop.png");
  background-size: cover;
  height: 30vh;
}

#map {
  height: 70vh;
  width: 100vw;
}

.leaflet-container {
  width: 80vw;
  height: 80vh;
}

input:invalid {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}

#detailsContainer {
  display: flex;
  flex-flow: column wrap;
  background: white;
  position: absolute;
  top: 20%;
  margin: auto;
  left: 21%;
  width: 60%;
  height: 19rem;
  padding: 3rem;
  z-index: 410;
  border-radius: 25px;
}

.infoContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.searchInput {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.searchInput::after {
  background-image: url("./assets/images/icon-arrow.svg");
  color: black;
  width: 100%;
  padding: 12px 40px 12px 12px; /* Adjust right padding for icon space */
  background: url("searchicon.png") no-repeat right center;
  background-size: 20px; /* Adjust based on icon size */
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.arrow-icon {
  width: 20%;
  height: 65%;
  padding: 12px 40px 12px 12px;
  background: url(searchicon.png) no-repeat right center;
}
.searchInput:focus {
  border-color: #aaa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.error-message {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 14px;
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
