.heroSection {
  background-image: url("./assets/images/pattern-bg-desktop.png");
  background-size: cover;
  height: 30vh;
}

.leaflet-container {
  height: 80vh;
}

.heading {
  position: absolute;
  top: 2%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  color: gray;
}

input:invalid {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}

#detailsContainer {
  top: 16%;
  margin: auto;
  left: 13%;
  width: 70%;
  background-color: white;
  position: absolute;
  height: 19rem;
  padding: 3rem;
  z-index: 410;
  border-radius: 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.infoContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

form {
  background: grey;
  border-radius: 25px;
  position: relative;
}

input {
  width: 92%;
  height: 100%;
  display: block;
  border-radius: 25px;
  font-size: 20px;
  padding: 8px 40px 8px 20px;
  border: none;
  box-shadow: 0 2px 3px 1px black;
}

button {
  position: absolute;
  top: 0;
  right: 5px;
  transform: scale(1.1);
  height: 100%;
  cursor: pointer;
  background: black;
}

.searchInput:focus {
  border-color: #aaa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.error-message {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 14px;
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
